@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.cardView{
  width: 275px;
  height:360px;
  background-image: linear-gradient(white, #3c91e6);
  background-repeat: repeat-x;
  padding-bottom: 1px;
  border-radius:20px;
}

.cardView:hover{
  box-shadow: 0 8px 16px 0 #fa824c;
}

.container {
  padding: 2px 16px;
}
div{
  margin: 3px;
}

th {
  font-family: 'Ubuntu', sans-serif;
  color:black;
  font-size: 17px;
  text-align: left;
  padding-top: 5px;
  padding-left: 2px;


}

td {
  font-family: 'Ubuntu', sans-serif;
  color:#fa824c;
  font-size: 15px;
  text-align: left;
  padding-left: 10px;

}

.AG-logo {
  height: 120px;
  width:inherit;

  padding-bottom: 5px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
