@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.cardView{
  background-color: #F8F8FF;
  width: 275px;
  height:360px;
  margin:auto;
  background-image: linear-gradient(#fa824c, white);
  background-repeat: repeat-x;
  padding-bottom: 1px;
  outline-width: thick;
  outline-style: double;
  outline-color: #3c91e6;
  padding: 2px 10px;
}

.container {
  padding: 2px 16px;
}
div{
  margin: 3px;
}

th {
  font-family: 'Ubuntu', sans-serif;
  color:#3c91e6;

}

td {
  font-family: 'Ubuntu', sans-serif;
  color:grey;
}

.AG-logo {
  height: 120px;
  width: 250px;
  padding-top: 10px;
}
